/* table {
  width: 100%;
  border-collapse: collapse;
} */

th, td {
  padding: 22px 26px;  
  text-align: left;
} 


.tablepose{
    margin-left: 15%;
}

.gotoleft{
    margin-left: 15%;
}

h2{
    font-family: poppins;
    font-size: 1vw;
}

.btnsave{
    padding: 0.5%;
    margin-top: 1%;
    padding-left: 1%;
     padding-right: 1%;

    font-family: poppins;
    background-color: #570D1B;
    color: #FFECD2;

}