.gotoleft{
    margin-left: 15%;
   color: #570D1B;
}

.addbtn{
    background-color: #570D1B;
    color: #FFECD2;
    border: transparent;
    border-radius: 0.5rem;
    width: 90%;
    margin-top: 2%;
    padding-bottom: 0.6%;
    padding-top:    0.6%;
    font-size: 1vw;
    margin-bottom: 3%;
}


.ninety{
    width: 90%;
    border-radius: 0.5rem;
    margin-bottom: 1%;
    background-color: #FFECD2;
    border: 2px solid #570D1B;
}


h1{
    font-family: poppins;
    color: #570D1B;
    font-weight: 900;
    padding-top: 3%;
}