li{
    list-style-type: none;
}

.iconsbar{
    margin-top: 88%;
}

.sidebarbg{
    background-color: #570D1B;
    width: 10%;
    height: 47vw;
    margin-top: -1%;
    position: fixed;
    
    border-radius: 0rem 5rem 5rem 0rem ;
}