

.emailpass{
     background-color: #FFECD2;
    color: #570D1B;
    margin-top: 5%; 
    padding: 1%;
    font-size: 1.5vw;
    margin-top: 8%;
    margin-left: 0%;
}

.textboxes{
    display: flex;
    gap: 15%;
 margin-top: -5%;
    margin-left: 25%;
}